*{
    box-sizing: border-box;
}
.main{
    width: 500px;
    height: 500px;
    position: relative;
    background: darksalmon;
    margin:0 auto;
}
.second{
    width: calc(100% - 150px);
    height: calc(100% - 250px);
    background: deeppink;
    position:absolute;
    top: 10%;
    left:15%;
}
.third{
    background: yellow;
    position: absolute;
    width: calc(100% - 350px);
    height: calc(100% - 350px);
    top: 49%;
    left: 175px;
}